* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    background-color: transparent;
}

.wrapper {
    height: 3735px;
    max-width: 1440px;
    display: block;
    margin: 0px auto;
    background: rgba(255, 255, 255, 0.7);
    background-image: url("/assets/img/rocks.jpg");
    background-position: top;
    background-repeat: no-repeat;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: nowrap;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
}

.header .container {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header {
    display: block;
    width: 100%;
    height: 90px;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: "Magra";
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}

.logo img {
    width: 30px;
    height: 30px;
}

.logo p {
    margin: 0;
    white-space: pre;
}

.nav-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 527px;
}

.nav-item {
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    font-family: "Red Hat Text";
    font-style: normal;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.nav-link:hover {
    color: #0D606F;
}

.button {
    font-family: "Red Hat Text";
    font-size: 16px;
    background-color: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    padding: 10px 30px;
    margin: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    color: #FFFFFF;
}

.button:hover {
    background-color: #42afc2;
}

.preview-button {
    font-size: 24px;
    margin: 20px;
    padding: 15px 40px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    border: 0px;
}

.heading {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    margin: 0;
    padding: 0;
}

.subtitle {
    font-family: "Red Hat Text";
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;

}

.text {
    font-family: "Aleo";
    font-size: 20px;
    line-height: 24px;
    margin: 0px;
    padding: 0px;
    color: #0D606F;
}

.preview {
    display: flex;
    width: 100%;
    font-family: "Aleo";
    font-style: italic;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 120px;
}

.preview .container {
    align-items: flex-start;
    justify-content: center;
    width: 892px;
}

form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.7);
}

.container-form {
    width: 100%;
    margin-top: 29px;
}

input[type="search"] {
    display: block;
    width: 40%;
    border: none;
    outline: none;
    background: none;
    -webkit-appearance: none;
    padding-left: 41px;
}

button[type="submit"] {
    display: block;
}

input[type="search"]::-webkit-input-placeholder {
    font-family: "Aleo";
    font-style: italic;
    font-size: 24px;
    color: #F2785C;
}

input[type="search"]::-moz-placeholder {
    font-family: "Aleo";
    font-style: italic;
    font-size: 24px;
    color: #F2785C;
}

.steps {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 300px;

}

.steps .container {
    align-items: center;
    width: 82%;
}

.steps-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.steps-panel .container {
    width: 82%;
}

.step-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-step {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 10px;
    left: calc(50% - 100px/2);
    top: calc(50% - 100px/2);
    background: #F2785C;
    border-radius: 16px;
}

.link-step-logo {
    display: block;
}

p[class="text"] {
    margin-top: 30px;
}

.destinations {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 52px;
}

.destinations-pictures {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.picture {
    display: flex;
    width: 800px;
    height: 800px;
    margin: 0px 30px;
}

a .picture {
    font-family: "Red Hat Text";
    font-size: 32px;
    color: #FFFFFF;
    margin-bottom: 40px;
    margin-left: 15px;
}

.picture-settings {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.picture-spain {
    background-image: url("/assets/img/spain.jpg");
}

.picture-japan {
    background-image: url("/assets/img/japan.jpg");
}

.picture-usa {
    background-image: url("/assets/img/usa.jpg");
}

.circles {
    display: flex;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0px 5px;
}

.circle-side {
    background: rgba(242, 120, 92, 0.5);
}

.circle-center {
    background: #F2785C;
}

.container>.button {
    margin: 40px;
}

.stories {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
}


h3[class="container text"] {
    align-items: flex-start;
    font-size: 35px;
}

.container>.stories-container {
    align-items: center;
}

.stories-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.story-container {
    display: inline;
    margin: 15px 0px;
}

.story-text {
    width: 100%;
    height: 100%;
}

.story {
    display: inline-block;
    width: 760px;
    height: 184px;
    margin: 20px 20px;
}

.story-one-picture {
    float: left;
    width: 400px;
    height: 250px;
    margin: 12px;
    background-image: url("/assets/img/story1.jpg");
    filter: drop-shadow(0px 4px 4px #0D606F);
}

.story-two-picture {
    float: left;
    width: 400px;
    height: 250px;
    background-image: url("/assets/img/story2.jpg");
    filter: drop-shadow(0px 4px 4px #0D606F);
}

.story-three-picture {
    float: left;
    width: 400px;
    height: 250px;
    background-image: url("/assets/img/story3.jpg");
    filter: drop-shadow(0px 4px 4px #0D606F);
}

.story-five-picture {
    float: left;
    width: 400px;
    height: 250px;
    background-image: url("/assets/img/story4.jpg");
    filter: drop-shadow(0px 4px 4px #0D606F);
}

.stories::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 2404px;
    z-index: 1;
    background-repeat: no-repeat;
}

.arrow-text {
    display: flex;
    align-items: center;
    justify-content: center;

}

.arrow {
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.arrow div {
    position: relative;
    top: 20px;
    width: 35px;
    height: 2px;
    border-radius: 1px;
    background-color: #FFFFFF;
    left: 0;
    display: block;
}

.arrow div::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    top: -5px;
    right: -2px;
    border-radius: 1px;
    background-color: #FFFFFF;
    transform: rotate(45deg);
}

.arrow div::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    top: 5px;
    right: -2px;
    border-radius: 1px;
    background-color: #FFFFFF;
    transform: rotate(-45deg);
}

.footer>.container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #0D606F;
}

.footer-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    margin-left: 328px;
    width: 140px;
}